<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.samuelnyamai.leagurelore">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SummonerActivity"
            android:parentActivityName=".Champions"
            android:theme="@style/SummonerTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Champions" />
        <activity android:name=".LogIn">

        </activity>
    </application>

</manifest>
    <!--<?xml version="1.0" encoding="utf-8"?>-->
<!--<LinearLayout-->
<!--android:layout_width="match_parent"-->
<!--android:layout_height="wrap_content"-->
<!--xmlns:android="http://schemas.android.com/apk/res/android"-->
<!--xmlns:app="http://schemas.android.com/apk/res-auto"-->
<!--xmlns:tools="http://schemas.android.com/tools"-->
<!--tools:context=".SummonerActivity"-->
<!--android:orientation="vertical"-->
    <!--&gt;-->
<!--<FrameLayout-->
    <!--android:layout_width="match_parent"-->
    <!--android:layout_height="wrap_content"-->
    <!--&gt;-->
    <!--<ImageView-->
        <!--android:layout_width="match_parent"-->
        <!--android:layout_height="200dp"-->
        <!--android:background="@drawable/a"-->
        <!--/>-->

    <!--<de.hdodenhof.circleimageview.CircleImageView-->
        <!--android:layout_width="48dp"-->
        <!--android:layout_height="48dp"-->
        <!--android:layout_marginLeft="8dp"-->
        <!--android:layout_marginTop="172dp"-->
        <!--android:background="@drawable/alistar"-->
        <!--app:civ_border_width="4dp"-->
        <!--app:civ_border_color="#FF000000"-->
        <!--/>-->
    <!--<TextView-->
        <!--android:layout_width="wrap_content"-->
        <!--android:layout_height="wrap_content"-->
        <!--android:layout_marginLeft="64dp"-->
        <!--android:layout_marginTop="176dp"-->
        <!--android:textSize="16dp"-->
        <!--tools:text="Charliesdeomn"-->
        <!--android:textColor="@android:color/white"-->
        <!--android:gravity="center"-->
        <!--/>-->
    <!--<TextView-->
        <!--android:layout_width="wrap_content"-->
        <!--android:layout_height="wrap_content"-->
        <!--android:layout_marginLeft="64dp"-->
        <!--android:layout_marginTop="200dp"-->
        <!--android:textSize="16dp"-->
        <!--tools:text="Level 126"-->
        <!--android:textColor="@android:color/white"-->
        <!--android:gravity="center"-->
        <!--/>-->
<!--</FrameLayout>-->
<!--<LinearLayout-->
    <!--android:layout_width="match_parent"-->
    <!--android:layout_height="wrap_content"-->
    <!--android:background="@android:color/black"-->
    <!--android:orientation="vertical"-->

    <!--&gt;-->

    <!--<TextView-->
        <!--android:layout_width="wrap_content"-->
        <!--android:layout_height="wrap_content"-->
        <!--android:text="Champions"-->
        <!--android:textColor="@android:color/white"-->
        <!--android:layout_marginLeft="8dp"-->
        <!--/>-->
    <!--<View-->
        <!--android:layout_width="match_parent"-->
        <!--android:layout_height="1dp"-->
        <!--android:background="@android:color/white"/>-->
    <!--<LinearLayout-->
        <!--android:layout_width="match_parent"-->
        <!--android:layout_height="wrap_content"-->
        <!--&gt;-->
        <!--<de.hdodenhof.circleimageview.CircleImageView-->
            <!--android:layout_marginTop="8dp"-->
            <!--android:layout_marginBottom="8dp"-->
            <!--android:layout_marginRight="16dp"-->
            <!--android:layout_width="48dp"-->
            <!--android:layout_height="48dp"-->
            <!--android:layout_marginLeft="8dp"-->
            <!--android:background="@drawable/alistar"-->
            <!--app:civ_border_width="4dp"-->
            <!--app:civ_border_color="#FF000000"-->
            <!--/>-->
        <!--<de.hdodenhof.circleimageview.CircleImageView-->
            <!--android:layout_marginTop="8dp"-->
            <!--android:layout_marginBottom="8dp"-->
            <!--android:layout_marginRight="16dp"-->
            <!--android:layout_width="48dp"-->
            <!--android:layout_height="48dp"-->
            <!--android:layout_marginLeft="8dp"-->
            <!--android:background="@drawable/alistar"-->
            <!--app:civ_border_width="4dp"-->
            <!--app:civ_border_color="#FF000000"-->
            <!--/>-->
        <!--<de.hdodenhof.circleimageview.CircleImageView-->
            <!--android:layout_marginTop="8dp"-->
            <!--android:layout_marginBottom="8dp"-->
            <!--android:layout_marginRight="16dp"-->
            <!--android:layout_width="48dp"-->
            <!--android:layout_height="48dp"-->
            <!--android:layout_marginLeft="8dp"-->
            <!--android:background="@drawable/alistar"-->
            <!--app:civ_border_width="4dp"-->
            <!--app:civ_border_color="#FF000000"-->
            <!--/>-->
    <!--</LinearLayout>-->
    <!--<View-->
        <!--android:layout_width="match_parent"-->
        <!--android:layout_height="1dp"-->
        <!--android:background="@android:color/white"/>-->
    <!--<LinearLayout-->
        <!--android:layout_width="match_parent"-->
        <!--android:layout_height="250dp"-->
        <!--android:orientation="horizontal"-->
        <!--&gt;-->
        <!--<ImageView-->
            <!--android:layout_width="0dp"-->
            <!--android:layout_height="match_parent"-->
            <!--android:layout_weight="1"-->
            <!--tools:background="@drawable/bronze"-->
            <!--android:contentDescription="@string/ranked_solo_emblem" />-->
        <!--<LinearLayout-->
            <!--android:layout_width="0dp"-->
            <!--android:layout_weight="1"-->
            <!--android:layout_height="match_parent"-->
            <!--android:orientation="vertical"-->
            <!--android:paddingTop="16dp"-->
            <!--&gt;-->
            <!--<TextView-->
                <!--android:layout_width="match_parent"-->
                <!--android:layout_height="wrap_content"-->
                <!--tools:text="Ezreal Guardians"-->
                <!--android:textColor="@android:color/white"-->
                <!--/>-->
            <!--<TextView-->
                <!--android:layout_width="match_parent"-->
                <!--android:layout_height="wrap_content"-->
                <!--android:layout_marginTop="16dp"-->
                <!--tools:text="Silver 1"-->
                <!--android:textColor="@android:color/white"-->
                <!--/>-->
        <!--</LinearLayout>-->

    <!--</LinearLayout>-->

    <!--<LinearLayout-->
        <!--android:layout_width="match_parent"-->
        <!--android:layout_height="250dp"-->
        <!--android:orientation="horizontal"-->
        <!--&gt;-->
        <!--<ImageView-->
            <!--android:layout_width="0dp"-->
            <!--android:layout_height="match_parent"-->
            <!--android:layout_weight="1"-->
            <!--tools:background="@drawable/silver"-->
            <!--/>-->
        <!--<LinearLayout-->
            <!--android:layout_width="0dp"-->
            <!--android:layout_weight="1"-->
            <!--android:layout_height="match_parent"-->
            <!--android:orientation="vertical"-->
            <!--android:paddingTop="16dp"-->
            <!--&gt;-->
            <!--<TextView-->
                <!--android:layout_width="match_parent"-->
                <!--android:layout_height="wrap_content"-->
                <!--tools:text="Rammus Ninja"-->
                <!--android:textColor="@android:color/white"-->
                <!--/>-->
            <!--<TextView-->
                <!--android:layout_width="match_parent"-->
                <!--android:layout_height="wrap_content"-->
                <!--tools:text="Silver 1"-->
                <!--android:layout_marginTop="16dp"-->
                <!--android:textColor="@android:color/white"-->
                <!--/>-->
        <!--</LinearLayout>-->

    <!--</LinearLayout>-->

<!--</LinearLayout>-->

<!--</LinearLayout>-->
